
<div class="container">
  <h1>Serviço</h1>

  <p>Cliente: <%= @service.buyer.first_name %></p>
  <p>Cuidador: <%= @service.caregiver.first_name %></p>
  <p>Data: <%= @service.date %></p>
  <p>Período: <%= @service.period %></p>
  <p>Confirmado: <%= @service.confirmed %> </p>
  <p>Status de pagamento: <%= @service.pay_authorized %> </p>

  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Atividade</th>
        <th>Preço</th>
      </tr>
    </thead>
    <tbody>
      <% @service.items.each_with_index do |item, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= item.description %></td>
          <td><%= item.price %></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="2">Total:</th>
        <th><%= @service.items.sum(&:price)%></th>
      </tr>
    </tfoot>
  </table>

  <hr>

  <% if @service.pay_authorized %>
      <p>Pagamento</p>
    <%= form_tag orders_path do %>
        <%= hidden_field_tag 'service_id', @service.id %>
        <%= submit_tag 'Pagar', class: 'btn btn-success' %>
    <% end %>
  <% end %>


  <hr>

    <p> <%= link_to "Página de #{current_user.first_name}", current_user %> </p>

    <p> <%= link_to "home", root_path %> </p>

</div>
