

<div class="container">
  <h1>Serviço</h1>

  <p>comprador: <%= @service.buyer.first_name %></p>
  <p>cuidador: <%= @service.caregiver.first_name %></p>
  <p>De: <%= @service.start_date %> até: <%= @service.end_date %></p>
  <p>confirmado: <%= @service.confirmed %> </p>
  <p>status do pagamento: <%= @service.pay_authorized %> </p>

  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Item</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% @service.items.each_with_index do |item, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= item.description %></td>
          <td><%= item.price_cents %></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="2">Total:</th>
        <th><%= @service.items.sum(&:price_cents)%></th>
      </tr>
    </tfoot>
  </table>

  <hr>

  <% if @service.pay_authorized %>
      <p>Pagamento</p>
    <%= form_tag orders_path do %>
        <%= hidden_field_tag 'service_id', @service.id %>
        <%= submit_tag 'Pagar', class: 'btn btn-success' %>
    <% end %>
  <% end %>



  <hr>
    <p> <%= link_to "Minha página", current_user %> </p>
    <p> <%= link_to "home", root_path %> </p>

</div>
