<div class="container">

  <p><%= @user.first_name %></p>

  <% if @user.caregiver %>
    <p>Este é um Cuidador</p>
  <% end %>

  <% if current_user == @user && current_user.caregiver %>
    <%= link_to "Adicionar atividades e preços", new_user_task_path(current_user) %>
  <% end %>


<% if current_user == @user %>
  <%= link_to "Editar perfil", edit_user_registration_path(current_user) %>
  <%= link_to "Adicionar pet", new_user_pet_path(current_user) %>
<% end %>

  <div
    id="map-id"
    style="width: 420px; height: 270px;"
    data-marker="<%= @marker.to_json %>">
  </div>

<% if @user.user_tasks %>
    <% @user_tasks.each do |usertask| %>
    <p><%= usertask.task.name %> </p>
    <p>Preço: <%= humanized_money_with_symbol(usertask.price) %></p>
      <% if current_user == @user && current_user.caregiver %>
      <p><%= link_to "Editar atividade", edit_user_task_path(usertask) %></p>
      <p><%= link_to "Apagar atividade", user_task_path(usertask),
        method: :delete,
        data: { confirm: "Are you sure?" } %></p>
    <% end %>
  <% end %>
<% end %>

  <% if @user.caregiver && @user.user_tasks && current_user != @user %>
    <%= link_to "Selecionar atividades para contratar", new_user_service_path(@user) %>
  <% end %>


<% if current_user == @user %>
  <% @buyer_services.each do |service| %>
    <p> <%= link_to "Número de Serviço #{service.id}", service_path(service) %> </p>
    <p> Cuidador: <%= service.caregiver.first_name %> </p>
    <p> Data: <%= service.created_at.strftime("%d/%m/%y") %></p>
    <p> Período: <%= service.period %></p>
    <p> confirmado: <%= service.confirmed %></p>
    <p> status do pagamento: <%= service.pay_authorized %></p>
    <% if service.confirmed == true && service.pay_authorized == false %>
     <p> <%= link_to "Autorizar Pagamento", authorized_service_path(service), method: :put %> </p>
     <% end %>
  <% end %>

  <% @caregiver_services.each do |service| %>
    <p> <%= link_to "Número de Serviço #{service.id}", service_path(service) %>  </p>
    <p> Cliente: <%= service.buyer.first_name %> </p>
    <p> Data: <%= service.created_at.strftime("%d/%m/%y") %></p>
    <p> Período: <%= service.period %></p>
    <p> confirmado: <%= service.confirmed  %></p>
    <% if service.confirmed == false %>
     <p> <%= link_to "Confirmar serviço", toggle_service_path(service), method: :put %> </p>
     <% end %>
    <p> status do pagamento: <%= service.pay_authorized %></p>
  <% end %>

<% end %>

<hr>

<div>
  <% if current_user != @user %>
    <%= link_to upvote_user_path(@user), method: :put, class: "btn btn-danger" do %>
     <i class="fa fa-heart"></i>
      <%= @user.get_upvotes.size %>
    <% end %>
  <% end %>
</div>

<hr>

<p><% @pets.each do |pet| %></p>
    <p>Nome: <%= pet.name %></p>
    <p>Raça: <%= pet.breed %></p>
    <p>Descrição: <%= pet.description %></p>
    <p>Idade: <%= pet.age %></p>
    <p>Peso: <%= pet.weight %></p>
    <p>Sexo: <%= pet.sex %></p>
    <p>Vacinação: <%= pet.vaccine %></p>
    <p>Castração: <%= pet.castrated %></p>
    <p>Obs.: <%= pet.comment %></p>
    <p></p>
    <p><%= cl_image_tag pet.photo %></p>


    <% if current_user == @user %>
      <p><%= link_to "Editar Pet", edit_pet_path(pet) %></p>
      <p><%= link_to "Apagar Pet", pet_path(pet),
        method: :delete,
        data: { confirm: "Ówn, tem certeza?" } %></p>
    <% end %>
  <% end %>




<div id="reviews">

    <div>
        <p> Rating:
          <% empty = 5 - @avg_review.to_i %>
          <% @avg_review.to_i.times do %>
            <i class="fas fa-star"></i>
          <% end %>
          <% empty.times do %>
            <i class="far fa-star"></i>
          <% end %>
          </p>
    </div>

    <% @user.reviews.each do |review| %>
      <%= render 'reviews/show', review: review %>
    <% end %>

</div>

  <% if current_user != @user %>
    <%= render 'reviews/form', user: @user, review: @review %>
  <% end %>

</div>








